@import "utils/variables";
@import "utils/mixins";
@import "utils/animations";
@import "base/typography";
@import "layouts/header";
@import "layouts/menu-index";
@import "layouts/list-restaurants";
@import "layouts/restaurant-page";
@import "layouts/footer";
@import "components/loader";
@import "components/button";
@import "components/card-restaurant";
@import "components/form-menu";
@import "components/heart";