@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes heart-hover {
  0% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0) 0%, rgba(187, 98, 219, 0) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  5% {
    background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
    color: transparent;
    transform: scale(0.1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
    color: transparent;
    transform: scale(0.4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
    color: transparent;
    transform: scale(1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
    color: transparent;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes meal-fade-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 25px 0px 20px 0px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
}
@media screen and (min-width: 993px) {
  header {
    position: unset;
    box-shadow: none;
    padding-top: 50px;
  }
}
header img {
  width: 52.3vw;
  max-width: 392px;
  height: 9.1vw;
  max-height: 68px;
  display: block;
  margin: auto;
}
@media screen and (min-width: 993px) {
  header img {
    width: 392px;
    height: 68px;
  }
}
header .fa-arrow-left {
  position: relative;
  font-size: calc(15px + 2.5vw);
  color: #333333;
  position: absolute;
  left: 6%;
  top: calc(15px + 4vw);
}
@media screen and (min-width: 768px) {
  header .fa-arrow-left {
    font-size: 30px;
    top: 45px;
  }
}
@media screen and (min-width: 993px) {
  header .location {
    display: flex;
    width: 300px;
    height: 66px;
    border-radius: 33px;
    font-size: 18px;
    margin: unset;
    margin-right: 10%;
    padding: 24px;
  }
}
@media screen and (min-width: 993px) {
  header .location .fa-location-dot {
    margin: 0px 20px;
  }
}

@media screen and (min-width: 768px) {
  .menu-index {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 993px) {
  .menu-index .location {
    display: none;
  }
}

.location {
  box-sizing: border-box;
  background-color: #e6e6e6;
  color: #333333;
  width: 100%;
  margin-top: calc(45px + 9.1vw);
  padding: 5vw 0 5vw 22%;
  display: flex;
  font-size: calc(9px + 2vw);
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .location {
    margin-top: 113px;
    padding: 20px 0 20px 30%;
    font-size: 18px;
  }
}
.location .fa-location-dot {
  margin: 0px 4vw;
}
.location p {
  margin: unset;
  font-weight: 500;
}
.location--header {
  display: none;
}

.explore {
  background-color: whitesmoke;
  padding: 5%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .explore {
    width: 50%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 50px 2.5% 50px 5%;
  }
}
.explore h1 {
  margin: 0 15%;
  font-size: calc(15px + 2.5vw);
}
@media screen and (min-width: 768px) {
  .explore h1 {
    font-size: 30px;
  }
}
.explore p {
  font-size: calc(10px + 2.1vw);
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .explore p {
    font-size: 18px;
  }
}

.instructions {
  margin: 20vw 5%;
}
@media screen and (min-width: 768px) {
  .instructions {
    width: 50%;
    box-sizing: border-box;
    margin: unset;
    padding: 50px 5% 50px 5%;
  }
}
.instructions h2 {
  font-size: calc(15px + 2.5vw);
}
@media screen and (min-width: 768px) {
  .instructions h2 {
    font-size: 30px;
  }
}
.instructions .instruction-line {
  display: flex;
  line-height: 6vw;
  background-color: white;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.07);
  padding: 6vw;
  border-radius: 4.5vw;
  margin: 5vw 0 5vw 3%;
}
@media screen and (min-width: 768px) {
  .instructions .instruction-line {
    margin: 20px 0 20px 5%;
    padding: unset;
    line-height: 66px;
    width: 300px;
  }
}
.instructions .instruction-line .instruction-number {
  background-color: #9356DC;
  color: white;
  text-align: center;
  width: 6vw;
  height: 6vw;
  border-radius: 3vw;
  font-size: calc(7.5px + 1.8vw);
  position: relative;
  z-index: 1;
  left: -12%;
}
@media screen and (min-width: 768px) {
  .instructions .instruction-line .instruction-number {
    font-size: 14px;
    width: 32px;
    height: 32px;
    left: -4%;
    top: 16px;
    line-height: 32px;
  }
}
.instructions .instruction-line i {
  font-size: calc(10px + 2.1vw);
  color: #666666;
  line-height: 6vw;
  width: 10vw;
  position: relative;
  left: -4%;
}
@media screen and (min-width: 768px) {
  .instructions .instruction-line i {
    font-size: 18px;
    width: 40px;
    padding-left: 20px;
    line-height: 66px;
  }
}
.instructions .instruction-line p {
  margin: unset;
  font-size: calc(9px + 2vw);
  position: relative;
  font-weight: 500;
  left: -4%;
}
@media screen and (min-width: 768px) {
  .instructions .instruction-line p {
    font-size: 16px;
  }
}
.instructions .instruction-line:hover {
  background-color: #f2eafb;
}
.instructions .instruction-line:hover i {
  color: #9356DC;
}

.list-restaurants {
  background-color: whitesmoke;
  padding: 10vw 5%;
}
@media screen and (min-width: 768px) {
  .list-restaurants {
    padding: 50px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.list-restaurants h2 {
  font-size: calc(15px + 2.5vw);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .list-restaurants h2 {
    font-size: 30px;
  }
}
.list-restaurants #restaurants {
  position: relative;
  top: calc(-45px - 19.1vw);
}
@media screen and (min-width: 768px) {
  .list-restaurants #restaurants {
    top: -163px;
  }
}

.restaurant-page {
  margin-top: calc(45px + 9.1vw);
  width: 100%;
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant-page {
    margin-top: 113px;
  }
}
@media screen and (min-width: 993px) {
  .restaurant-page {
    margin-top: 0;
  }
}
.restaurant-page img {
  width: 100%;
  height: 70%;
  max-height: 500px;
  object-fit: cover;
}
.restaurant-page__menu {
  background-color: whitesmoke;
  border-radius: 34px 34px 0 0;
  position: relative;
  top: -34px;
  z-index: 1;
  padding: 34px 5%;
}
.restaurant-page__menu__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .restaurant-page__menu__title {
    margin: 10px auto 40px auto;
    max-width: 800px;
  }
}
.restaurant-page__menu__title h1 {
  font-size: calc(15px + 2.5vw);
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  margin: unset;
}
@media screen and (min-width: 768px) {
  .restaurant-page__menu__title h1 {
    font-size: 30px;
  }
}

footer {
  background-color: #404040;
  color: white;
  padding: 8vw 6vw;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 20px;
  }
}
footer h2 {
  margin: unset;
  font-family: "Shrikhand", cursive;
  font-size: calc(10px + 2.1vw);
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  footer h2 {
    font-size: 30px;
    margin: 15px auto;
    width: fit-content;
  }
}
footer ul {
  list-style-type: none;
  padding: unset;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
}
footer ul li {
  margin: 2vw 0;
}
@media screen and (min-width: 768px) {
  footer ul li {
    margin: 0;
  }
}
footer ul li a {
  color: white;
  font-weight: 500;
  font-size: calc(9px + 2vw);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer ul li a {
    font-size: 18px;
  }
}
footer ul li i {
  width: 6vw;
}
@media screen and (min-width: 768px) {
  footer ul li i {
    width: 30px;
  }
}

.button {
  display: block;
  background-color: #FF79DA;
  text-decoration: none;
  color: white;
  font-size: calc(9px + 2vw);
  font-weight: 500;
  width: fit-content;
  margin: 8vw auto;
  padding: 4vw 6vw;
  border-radius: 10vw;
  border: none;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.07);
  box-shadow: inset -20px -20px 50px 0px #9356DC, 4px 4px 8px 4px rgba(0, 0, 0, 0.07);
}
.button--order {
  margin-top: 16vw;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    padding: 24px 32px;
    margin: 50px auto;
  }
}
.button:hover {
  background-color: #ff88de;
  box-shadow: inset -20px -20px 50px 0px #9356DC, 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

a {
  display: block;
}
a .card-restaurant {
  width: 100%;
  box-sizing: border-box;
  padding-top: 75%;
  background-color: #fff;
  border-radius: 5vw;
  margin: 6vw 0;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.07);
  position: relative;
  color: #000;
}
@media screen and (min-width: 768px) {
  a .card-restaurant {
    width: 320px;
    padding-top: 240px;
    border-radius: 24px;
    margin: 40px 2%;
  }
}
a .card-restaurant img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 5vw 5vw 0 0;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 768px) {
  a .card-restaurant img {
    border-radius: 24px 24px 0 0;
  }
}
a .card-restaurant .card-label {
  box-sizing: border-box;
  height: 30%;
  position: absolute;
  top: 70%;
  font-size: calc(10px + 2.1vw);
  padding: 3vw 0 3vw 5%;
}
@media screen and (min-width: 768px) {
  a .card-restaurant .card-label {
    font-size: 18px;
    top: 148px;
    padding: 30px 0 30px 5%;
  }
}
a .card-restaurant .card-label h3 {
  margin: unset;
  margin: 1vw 0;
}
@media screen and (min-width: 768px) {
  a .card-restaurant .card-label h3 {
    margin: 3px 0;
  }
}
a .card-restaurant .card-label p {
  margin: unset;
  font-weight: 300;
}
a .card-restaurant .card-new {
  background-color: #99E2D0;
  color: #32b091;
  font-size: calc(9px + 2vw);
  font-weight: 600;
  padding: 2vw 3vw;
  border-radius: 4px;
  position: absolute;
  top: 7%;
  right: 5%;
  z-index: 1;
  display: none;
}
@media screen and (min-width: 768px) {
  a .card-restaurant .card-new {
    font-size: 16px;
    padding: 10px 15px;
  }
}
a .card-restaurant .card-new--new {
  display: block;
}

.form-menu {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .form-menu {
    margin: auto;
    width: 460px;
  }
}
@media screen and (min-width: 993px) {
  .form-menu {
    display: flex;
    max-width: 1360px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .form-menu__meal-type {
    max-width: 460px;
  }
}
@media screen and (min-width: 993px) {
  .form-menu__meal-type {
    width: 30%;
  }
}
.form-menu .type-meal-name {
  animation: meal-fade-in 1000ms both;
  font-size: calc(9px + 2vw);
  font-weight: 300;
  position: relative;
  margin: 45px 0 20px 0;
}
.form-menu .type-meal-name--0 {
  animation-delay: 0ms;
}
.form-menu .type-meal-name--1 {
  animation-delay: 500ms;
}
.form-menu .type-meal-name--2 {
  animation-delay: 1000ms;
}
@media screen and (min-width: 768px) {
  .form-menu .type-meal-name {
    font-size: 18px;
    margin: 45px auto 20px auto;
    width: 600px;
  }
}
.form-menu .type-meal-name::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -7px;
  z-index: 1;
}
.form-menu input[type=radio] {
  display: none;
}
.form-menu input[type=radio]:checked + .card-meal > .card-meal__check {
  width: 23%;
}
.form-menu input[type=radio]:checked + .card-meal > .card-meal__check i {
  transform: rotate(1turn);
  left: 0px;
}
@media screen and (min-width: 768px) {
  .form-menu input[type=radio]:checked + .card-meal > .card-meal__check {
    width: 66px;
  }
}
.form-menu input[type=radio]:checked + .card-meal > .card-meal__name {
  width: 77%;
}
@media screen and (min-width: 768px) {
  .form-menu input[type=radio]:checked + .card-meal > .card-meal__name {
    width: calc(100% - 66px);
  }
}
.form-menu .card-meal {
  animation: meal-fade-in 1000ms both;
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: calc(40px + 7.5vw);
  margin: 16px 0;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.07);
}
.form-menu .card-meal--0 {
  animation-delay: 0ms;
}
.form-menu .card-meal--1 {
  animation-delay: 100ms;
}
.form-menu .card-meal--2 {
  animation-delay: 200ms;
}
.form-menu .card-meal--3 {
  animation-delay: 300ms;
}
.form-menu .card-meal--4 {
  animation-delay: 400ms;
}
.form-menu .card-meal--5 {
  animation-delay: 500ms;
}
.form-menu .card-meal--6 {
  animation-delay: 600ms;
}
.form-menu .card-meal--7 {
  animation-delay: 700ms;
}
.form-menu .card-meal--8 {
  animation-delay: 800ms;
}
.form-menu .card-meal--9 {
  animation-delay: 900ms;
}
.form-menu .card-meal--10 {
  animation-delay: 1000ms;
}
.form-menu .card-meal--11 {
  animation-delay: 1100ms;
}
.form-menu .card-meal--12 {
  animation-delay: 1200ms;
}
.form-menu .card-meal--13 {
  animation-delay: 1300ms;
}
.form-menu .card-meal--14 {
  animation-delay: 1400ms;
}
@media screen and (min-width: 768px) {
  .form-menu .card-meal {
    box-sizing: border-box;
    height: 66px;
    margin: 16px auto;
  }
}
.form-menu .card-meal__name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: calc(12px + 1vw) 6% 4% 3%;
  transform-origin: 0% 0%;
  transition: all 0.6s ease-out;
}
@media screen and (min-width: 768px) {
  .form-menu .card-meal__name {
    padding: 15px;
  }
}
.form-menu .card-meal__name h3 {
  width: 100%;
  margin: unset;
  font-size: calc(10px + 2.1vw);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .form-menu .card-meal__name h3 {
    font-size: 18px;
  }
}
.form-menu .card-meal__name p {
  font-size: calc(7.5px + 1.8vw);
  margin: 2px 0vw;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: 0% 0%;
  transition: all 0.6s ease-out;
}
@media screen and (min-width: 768px) {
  .form-menu .card-meal__name p {
    font-size: 16px;
  }
}
@media screen and (min-width: 993px) {
  .form-menu .card-meal__name p:nth-of-type(1) {
    min-width: 50%;
  }
}
.form-menu .card-meal__check {
  width: 0;
  background-color: #99E2D0;
  color: white;
  font-size: calc(15px + 2.5vw);
  text-align: center;
  border-radius: 0 10px 10px 0;
  transform-origin: 100% 0%;
  transition: all 0.6s ease-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .form-menu .card-meal__check {
    font-size: 24px;
  }
}
.form-menu .card-meal__check .fa-circle-check {
  margin: auto;
  position: relative;
  top: 30%;
  left: 40px;
  transition: all 0.6s;
  transform: rotate(0);
  text-rendering: auto;
}
.form-menu .card-meal__label {
  width: 90%;
  height: calc(40px + 7.5vw);
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .form-menu .card-meal__label {
    height: 66px;
    max-width: 460px;
  }
}
@media screen and (min-width: 993px) {
  .form-menu .card-meal__label {
    width: 27vw;
  }
}

.fa-heart {
  font-size: calc(15px + 2.5vw);
  margin-right: 4vw;
}
@media screen and (min-width: 768px) {
  .fa-heart {
    font-size: 30px;
  }
}
.fa-heart__input {
  width: calc(15px + 2.5vw);
  height: calc(15px + 2.5vw);
  position: absolute;
  right: calc(5% + 4vw);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .fa-heart__input {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 888px) {
  .fa-heart__input {
    right: unset;
    left: calc(380px + 44.95vw);
  }
}
.fa-heart__input:checked + .fa-heart {
  animation: heart-hover 0.3s;
  font-weight: 900;
  background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-heart--card {
  position: absolute;
  top: 78%;
  right: 7%;
  margin-right: unset;
  font-size: calc(20px + 2.8vw);
}
@media screen and (min-width: 768px) {
  .fa-heart--card {
    font-size: 26px;
    top: 190px;
  }
}
.fa-heart--card__input {
  width: calc(20px + 2.8vw);
  height: calc(20px + 2.8vw);
  position: absolute;
  top: 78%;
  right: 7%;
  z-index: 3;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .fa-heart--card__input {
    width: 26px;
    height: 26px;
  }
}
.fa-heart--card__input:hover {
  cursor: pointer;
}
.fa-heart--card__input:checked + .fa-heart {
  animation: heart-hover 0.3s;
  font-weight: 900;
  background: -webkit-linear-gradient(13deg, #FF79DA 0%, #9356DC 66%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
