.button {
    display:block;
    background-color:$color-secondary;
    text-decoration:none;
    color:white;
    font-size:$font-size-3;
    font-weight:500;
    width:fit-content;
    margin:8vw auto;
    padding:4vw 6vw;
    border-radius:10vw;
    border:none;
    @include block-shadow;
    box-shadow:inset -20px -20px 50px 0px $color-primary,4px 4px 8px 4px rgba(0,0,0,0.07);
    &--order {
        margin-top:16vw;
    }
    @include tablet-desktop {
        font-size:$font-size-desktop-2;
        padding:24px 32px;
        margin:50px auto;
    }
    &:hover {
        background-color:lighten($color-secondary,3%);
        box-shadow:inset -20px -20px 50px 0px $color-primary,4px 4px 8px 4px rgba(0,0,0,0.2);
    }
}