.form-menu {
    width:100%;
    @include tablet-only {
        margin:auto;
        width:460px;
    }
    @include desktop-only {
        display:flex;
        max-width:1360px;
        flex-wrap:wrap;
        margin:auto;
        justify-content: space-between;
    }
    &__meal-type {
        @include tablet-desktop {
            max-width:460px;
        }
        @include desktop-only {
            width:30%;
        }
    }
    h2 {
        font-size:$font-size-3;
        font-weight:300;
        position:relative;
        margin:45px 0 20px 0;
        @include tablet-desktop {
            font-size:$font-size-desktop-2;
            margin:45px auto 20px auto;
            width:600px;
        }
        &::after {
            content:"";
            display:block;
            width:40px;
            height:3px;
            background-color:$color-tertiary;
            position:absolute;
            bottom:-7px;
            z-index:1;
        }
    }
    input[type=radio] {
        display:none;
        &:checked + .card-meal {
            & > .card-meal__check {
                // transform:scaleX(1);
                transform:translateX(0px);
                z-index:1;
                i {
                    transform:rotate(1turn);
                }
            }
        }
    }
    .card-meal {
        display:flex;
        box-sizing:border-box;
        background-color:$color-background;
        width:100%;
        height:calc(40px + 7.5vw);
        margin:16px 0;
        border-radius:10px;
        z-index:0;
        @include block-shadow;
        @include tablet-only {
            height:66px;
            margin:16px auto;
        }
        @include desktop-only {
            height:66px;
            margin:16px auto;
        }
        &__name {
            display:flex;
            justify-content:space-between;
            flex-wrap:wrap;
            width:100%;
            padding:calc(12px + 1vw) 6% 4% 3%;
            @include tablet-desktop {
                padding:15px;
            }
            h3 {
                width:100%;
                margin:unset;
                font-size:$font-size-2;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                @include tablet-desktop {
                    font-size:$font-size-desktop-2;
                }
            }
            p {
                font-size:$font-size-3;
                margin:2px 0vw;
                max-width: 57vw;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                @include tablet-desktop {
                    font-size:$font-size-desktop-3;
                }
            }
        }
        &__check {
            width:27%;
            background-color:$color-tertiary;
            color:white;
            font-size:$font-size-1;
            text-align:center;
            border-radius:0 10px 10px 0;
            transform-origin:100% 0%;
            // transform:scaleX(0);
            transform:translateX(60px);
            transition:transform 0.6s ease-out;
            z-index:-1;
            @include tablet-desktop {
                font-size:24px;
            }
            i {
                margin:auto;
                position:relative;
                top:30%;
                transition:transform 0.6s;
                transform:rotate(0);
                text-rendering:auto;
            }
        }
        &__label {
            width:90%;
            height:calc(40px + 7.5vw);
            position:absolute;
            z-index:2;
        }
    }
}