.form-menu {
    width:100%;
    legend {
        font-size:$font-size-3;
        position:relative;
        margin:25px 0 20px 0;
        &::after {
            content:"";
            display:block;
            width:40px;
            height:3px;
            background-color:$color-tertiary;
            position:absolute;
            bottom:-7px;
            z-index:1;
        }
    }
    input[type=radio] {
        display:none;
        &:checked + .card-meal {
            background-color:red;
        }
    }
    .card-meal {
        display:flex;
        box-sizing:border-box;
        background-color:$color-background;
        width:100%;
        height:calc(40px + 7.5vw);
        border-radius:10px;
        box-shadow:4px 4px 8px 4px rgba(0,0,0,0.07);
        &__label {
            display:flex;
            justify-content:space-between;
            flex-wrap:wrap;
            width:80%;
            padding:4% 6% 4% 3%;
            h2 {
                width:100%;
                margin:unset;
                font-size:$font-size-2;
            }
            p {
                font-size:$font-size-3;
                margin:1vw 0vw;
                max-width:57vw;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }
        &__check {
            width:20%;
            background-color:$color-tertiary;
            color:white;
            border-radius:0 10px 10px 0;
            // transform-origin:0% 100%;
            // transform:scaleX(0);
            // transition:transform 1s;
        }
    }
}