.form-menu {
    width:100%;
    @media screen and (min-width:768px) and (max-width:1511px) {
        margin:auto;
        width:460px;
    }
    @media screen and (min-width:1512px) {
        display:flex;
        max-width:1360px;
        flex-wrap:wrap;
        margin:auto;
        justify-content: space-between;
    }
    &__meal-type {
        @include tablet-desktop {
            max-width:460px;
        }
        @media screen and (min-width:1512px) {
            width:30%;
        }
    }
    .type-meal-name {
        animation: meal-fade-in 1000ms both;
        @for $i from 0 through 2 {
            &--#{$i} {
                animation-delay:500ms * $i;
            }
        }
        font-size:$font-size-3;
        font-weight:300;
        position:relative;
        margin:45px 0 20px 0;
        @include tablet-desktop {
            font-size:$font-size-desktop-2;
            margin:45px auto 20px auto;
            width:600px;
        }
        &::after {
            content:"";
            display:block;
            width:40px;
            height:3px;
            background-color:$color-tertiary;
            position:absolute;
            bottom:-7px;
            z-index:1;
        }
    }
    input[type=radio] {
        display:none;
        &:checked + .card-meal {
            & > .card-meal__check {
                width:23%;
                i {
                    transform:rotate(1turn);
                    left:0px;
                }
                @include tablet-desktop {
                    width:66px;
                }
            }
            & > .card-meal__name {
                width:77%;
                @include tablet-desktop {
                    width:calc(100% - 66px);
                }
            }
        }
    }
    .card-meal {
        animation: meal-fade-in 1000ms both;
        @for $i from 0 through 14 {
            &--#{$i} {
                animation-delay:100ms * $i;
            }
        }
        display:flex;
        box-sizing:border-box;
        background-color:$color-background;
        width:100%;
        height:calc(40px + 7.5vw);
        margin:16px 0;
        border-radius:10px;
        @include block-shadow;
        @include tablet-desktop {
            box-sizing:border-box;
            height:66px;
            margin:16px auto;
        }
        &__name {
            display:flex;
            justify-content:space-between;
            flex-wrap:wrap;
            width:100%;
            padding:calc(12px + 1vw) 6% 4% 3%;
            transform-origin:0% 0%;
            transition:all 0.6s ease-out;
            @include tablet-desktop {
                padding:15px;
            }
            h3 {
                width:100%;
                margin:unset;
                font-size:$font-size-2;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                @include tablet-desktop {
                    font-size:$font-size-desktop-2;
                }
            }
            p {
                font-size:$font-size-4;
                margin:2px 0vw;
                max-width: 85%;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                transform-origin:0% 0%;
                transition:all 0.6s ease-out;
                @include tablet-desktop {
                    font-size:$font-size-desktop-3;
                }
                &:nth-of-type(1) {
                    @include desktop-only {
                        min-width:50%;
                    }
                }
            }
        }
        &__check {
            width:0;
            background-color:$color-tertiary;
            color:white;
            font-size:$font-size-1;
            text-align:center;
            border-radius:0 10px 10px 0;
            transform-origin:100% 0%;
            transition:all 0.6s ease-out;
            white-space:nowrap;
            overflow:hidden;
            @include tablet-desktop {
                font-size:24px;
            }
            .fa-circle-check {
                margin:auto;
                position:relative;
                top:30%;
                left:40px;
                transition:all 0.6s;
                transform:rotate(0);
                text-rendering:auto;
            }
        }
        &__label {
            width:90%;
            height:calc(40px + 7.5vw);
            position:absolute;
            z-index:1;
            @include tablet-desktop {
                height:66px;
                max-width:408px;
            }
        }
    }
}