$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background:#fff;
$color-text:#000;
$font-size-1:calc(15px + 2.5vw);
$font-size-2:calc(10px + 2.1vw);
$font-size-3:calc(9px + 2vw);
$font-size-4:calc(7.5px + 1.8vw);
$font-size-desktop-1:30px;
$font-size-desktop-2:18px;
$font-size-desktop-3:16px;
$font-size-desktop-4:14px;
$lateral-margin:5%;