header {
    padding:25px 0px 20px 0px;
    box-shadow:0px 0px 4px 4px rgba(0,0,0,0.1);
    background-color: $color-background;
    width:100%;
    position:fixed;
    top:0;
    z-index:2;
    display:flex;
    img {
        width:52.3vw;
        height:9.1vw;
        display:block;
        margin:auto;
        position:relative;
    }
    .fa-arrow-left {
        position:relative;
        font-size:$font-size-1;
        color:lighten($color-text,20%);
        position:absolute;
        left:6%;
        top:calc(15px + 4vw);
    }
}