.restaurant-page {
    margin-top:calc(45px + 9.1vw);
    width:100%;
    background-color:darken($color-background,4%);
    @include tablet-only {
        margin-top:113px;
    }
    @include desktop-only {
        margin-top:0;
    }
    img {
        width:100%;
        height:70%;
        max-height:500px;
        object-fit: cover;
    }
    &__menu {
        background-color:darken($color-background,4%);
        border-radius:34px 34px 0 0;
        position:relative;
        top:-34px;
        z-index:1;
        padding:34px $lateral-margin;
        &__title {
            display:flex;
            justify-content: space-between;
            margin-bottom:40px;
            @include tablet-desktop {
                margin:10px auto 40px auto;
                max-width:800px;
            }
            h1 {
                font-size:$font-size-1;
                font-weight:400;
                font-family:'Shrikhand',cursive;
                margin:unset;
                @include tablet-desktop {
                    font-size:$font-size-desktop-1;
                }
            }
            i {
                font-size:$font-size-1;
                margin-right:4vw;
                @include tablet-desktop {
                    font-size:$font-size-desktop-1;
                }
                &:hover {
                    animation: heart-bg-color 0.5s;
                    font-weight: 900;
                    background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
                    color: transparent;
                    background-clip:text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}
@keyframes heart-bg-color {
    0% {
      background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0) 0%, rgba(187, 98, 219, 0) 66%);
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }