.restaurant-page {
    margin-top:calc(45px + 9.1vw);
    width:100%;
    img {
        width:100%;
        height:70%;
        object-fit: cover;
    }
    &__menu {
        background-color:darken($color-background,4%);
        border-radius:34px 34px 0 0;
        position:relative;
        top:-34px;
        z-index:1;
        padding:34px $lateral-margin;
        &__title {
            display:flex;
            justify-content: space-between;
            margin-bottom:40px;
            h1 {
                font-size:$font-size-1;
                font-weight:400;
                font-family:'Shrikhand',cursive;
                margin:unset;
            }
            i {
                font-size:$font-size-1;
                margin-right:4vw;
            }
        }
    }
}